!Chatbot/

# OS or Editor files
.DS_Store
.vscode/
*.swp
*~

# Dependency directories
/node_modules
/bower_components

# Logs and databases
/logs
/*.log
/*.sqlite
/*.sqlite3
/*.db

# Environment variables
.env
.env.local
.env.*.local

# Build output
/build
/dist
/out
/.next
/.nuxt
/nuxt.config.js
/yarn-error.log
/package-lock.json

# IDE-specific files
.idea/
*.code-workspace

# Compiled Python files
*.pyc

# Compiled Java files
*.class

# Compiled C++ files
*.out

# Miscellaneous
/.venv
/.sass-cache
/cache
/.clangd

# GPT or LLM model files
*.bin
*.params
*.ckpt
*.h5
*.pt
*.model
*.gguf


